@import "tailwindcss";

@font-face {
    font-family: 'Glosa';
    src: url('/fonts/Glosa.ttf') format("truetype");
}

@font-face {
    font-family: 'Galano';
    src: url('/fonts/Galano.otf');
}

@theme {
    --font-glosa: "Glosa", sans-serif;
    --font-galano: "Galano", sans-serif;
    --font-poppins: "var(--font-poppins)";
    --color-green: #5E6C59;
    --color-light-white: #FEFEFE;
    --color-section: #F7F9F6;
    --color-green-text: #313420;
    --color-hero: #E7F1E9;
    --color-light: #f7f9f6;
    --color-dark-green: #34402f;
}



.a::after , .active::after{
    content: '';
    height: 2px;
    width: 0;
    background: #5E6C59;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: all .3s;
}

.a:hover::after , .active::after{
}


.a:hover::after ,.active::after {

    @apply  w-full

}

.c {
    @apply overflow-hidden min-h-[100dvh] p-6 md:px-[120px] py-9
}

.b:hover, .button:hover  {
    cursor: pointer;
    @apply bg-green/85
}

.button{
    @apply transition-all duration-200 capitalize px-4 py-2 rounded-lg text-hero bg-green
}


h5{
    color: #426234;
}


.box{
    @apply md:w-[200px] md:h-[180px] w-[170px] h-[160px]  text-light-white border  border-light-white flex  justify-center  flex-col gap-1 rounded-xl
}