@import "tailwindcss";

@font-face {
    font-family: 'Glosa';
    src: url('/fonts/Glosa.ttf') format("truetype");
}

@font-face {
    font-family: 'Galano';
    src: url('/fonts/Galano.otf');
}

@theme {
    --font-glosa: "Glosa", sans-serif;
    --font-galano: "Galano", sans-serif;
    --font-poppins: "var(--font-poppins)";
    --color-green: #5E6C59;
    --color-light-white: #FEFEFE;
    --color-section: #F7F9F6;
    --color-green-text: #313420;
    --color-hero: #E7F1E9;
}



.a::after , .active::after{
    content: '';
    height: 2px;
    width: 0;
    background: #5E6C59;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: all .3s;
}

.a:hover::after , .active::after{
}


.a:hover::after ,.active::after {

    @apply  w-full

}

.c {
    @apply overflow-hidden min-h-[100dvh] p-6 md:px-[120px] py-9
}

.b:hover {
    cursor: pointer;
    @apply bg-green/85
}